@charset "UTF-8";
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

h2 {
  padding-left: 0.3rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1340px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.btnFilter {
  border-radius: 25px;
  border: 1px solid #d9d9d9;
  padding: 0.7rem 0.7rem 0.7rem 0;
  font-weight: bold;
  width: max-content;
}
.btnFilter:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #0065fc;
  background-color: #deebff;
  padding: 0.8rem;
  border-radius: 50%;
  margin-right: 0.7rem;
}

.btnFilterEco:before {
  content: "";
}

.btnFilterFamily:before {
  content: "";
}

.btnFilterRomantic:before {
  content: "";
}

.btnFilterAnimalsAllowed:before {
  content: "";
}

.findAccommodation {
  display: flex;
}
.findAccommodation i {
  padding: 0.75rem;
  font-size: 0.75rem;
}
.findAccommodation__beforeInput {
  background-color: #f2f2f2;
  border-radius: 25% 0 0 25%;
}
.findAccommodation__input {
  border: 1px solid #ece8e8;
  width: 200px;
}
.findAccommodation__input::placeholder {
  font-weight: bold;
  padding-left: 0.5rem;
  font-size: 1rem;
  color: #000000;
}
.findAccommodation__searchButton {
  background-color: #0065fc;
  border-radius: 25%;
  margin-left: -0.5rem;
}
.findAccommodation__searchButton i {
  color: white;
}

.three {
  height: 100vh;
  display: flex;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 100%;
  animation: opacity 2s forwards ease-in-out 2s;
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

/* LOADER */
#loader-1:before, #loader-1:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: #3498db;
}

#loader-1:before {
  z-index: 100;
  animation: spin 1s infinite;
}

#loader-1:after {
  border: 10px solid #ccc;
}

.cardsImgLeft, .cardsImgTop {
  box-shadow: 2px 2px 7px rgba(177, 177, 177, 0.4);
  padding: 0.3rem;
  margin-bottom: 1rem;
  border-radius: 25px;
}
.cardsImgLeft h3, .cardsImgTop h3 {
  margin: 0.5rem 0 0 0;
}
.cardsImgLeft i, .cardsImgTop i {
  font-size: 0.7rem;
}
.cardsImgLeft i:before, .cardsImgTop i:before {
  color: #0065fc;
}

.cardsImgLeft {
  display: flex;
  background-color: white;
  height: 160px;
}
.cardsImgLeft div:nth-child(1) {
  flex-basis: 45%;
}
.cardsImgLeft div:nth-child(1) img {
  object-fit: cover;
  height: 100%;
  border-radius: 25px 0 0 25px;
}
.cardsImgLeft div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 55%;
  padding: 0 0 0.5rem 0.5rem;
}
.cardsImgLeft p {
  margin: 0 0 1.5rem 0;
}

.cardsImgTop p {
  margin: 0.5rem 0;
}
.cardsImgTop img {
  object-fit: cover;
  height: 140px;
  border-radius: 25px 25px 0 0;
}
.cardsImgTop div:nth-child(2) {
  padding: 0 0 0.5rem 1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header img {
  padding-left: 15px;
}
header .signUp {
  padding-right: 15px;
}
header > div {
  margin-right: auto;
}
header nav {
  order: 3;
  width: 100%;
}
header ul {
  display: flex;
  padding: 0;
}
header ul li {
  padding-bottom: 1rem;
  width: 50%;
  border-bottom: 3px solid #f2f2f2;
  text-align: center;
}
header ul li:hover {
  border-bottom: 3px solid #0065fc;
}
header ul li a {
  color: black;
}
header ul li a:hover {
  color: #0065fc;
}

@media (min-width: 768px) {
  header nav {
    order: initial;
    width: auto;
  }
  header .signUp {
    padding-top: 1rem;
  }
  header ul li {
    padding: 1rem 1.5rem 0 0;
    width: auto;
    border-bottom: none;
    text-align: center;
  }
  header ul li:hover {
    border-top: 3px solid #0065fc;
    border-bottom: none;
  }
}
footer {
  background-color: #f2f2f2;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  footer .container {
    display: flex;
    justify-content: space-between;
  }
}

.signUp {
  font-weight: bold;
  color: #0065fc;
}

.filters ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.filters ul li {
  margin: 0.6rem 0.6rem 0 0;
}

.infoAvailableAccommodationCity {
  display: flex;
  align-items: center;
}
.infoAvailableAccommodationCity i {
  padding: 0.4rem;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  margin: 0 0.8rem 1rem 0;
  color: #0065fc;
  height: max-content;
  font-size: 0.8rem;
}

.accommodationResults .mostPopular {
  background-color: #f2f2f2;
  padding-bottom: 1rem;
}
.accommodationResults .mostPopular .container div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accommodationResults .accommodationCity p:last-child {
  font-weight: bold;
}

@media (min-width: 1200px) {
  .accommodationResults {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 50px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) and (max-width: 992px) {
  .accommodationResults {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .accommodationResults {
    max-width: 1340px;
  }
}
@media (min-width: 1200px) {
  .mostPopular, .accommodationCity {
    border-radius: 25px;
  }
}
@media (min-width: 1200px) {
  .accommodationCity {
    grid-row: 1;
    background-color: #f2f2f2;
  }
  .accommodationCity .container-grid-accommodationCity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}
@media (min-width: 1200px) {
  .activityCity .container-grid-activityCity {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 225px);
    grid-gap: 2rem;
  }
  .activityCity .vieuxPort img, .activityCity .calanques img {
    height: 100%;
  }
  .activityCity .vieuxPort {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8fr 1fr;
  }
  .activityCity .pomegues {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .activityCity .frioul {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .activityCity .calanques {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8fr 1fr;
  }
  .activityCity .dameDeLaGarde {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .activityCity .longchamp {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

/*# sourceMappingURL=style.css.map */
