// =========== HEADER ==========
.signUp {
    font-weight: bold;
    color: $reservia_blue;
}
// ============================

.filters {

    ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;

        li {
            margin: 0.6rem 0.6rem 0 0;
        }

    }

}

.infoAvailableAccommodationCity {
    display: flex;
    align-items: center;

    i {
        padding: 0.4rem;
        border: 1px solid $reservia_grey;
        border-radius: 50%;
        margin: 0 0.8rem 1rem 0;
        color: $reservia_blue;
        height: max-content;
        font-size: 0.8rem;
    }

}

//============= Résultat hébergement Marseille ================
//=============================================================

.accommodationResults {
    //display: grid;


    .mostPopular {
        background-color: $reservia_light-grey;
        padding-bottom: 1rem;

        .container div:nth-child(1) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

    }

    .accommodationCity {
        p:last-child {
            font-weight: bold;
        }
    }
}

@media (min-width: 1200px) {
    .accommodationResults {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 50px;
        @include container;
    }

    .mostPopular, .accommodationCity {
        border-radius: 25px;
    }

    .accommodationCity {
        grid-row: 1;
        background-color: $reservia_light-grey;

        .container-grid-accommodationCity {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1rem;
        }

    }

    .activityCity {
        .container-grid-activityCity {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 225px);
            grid-gap: 2rem;

        }

        .vieuxPort, .calanques {
            img {
                height: 100%;
            }
        }

        .vieuxPort {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 3;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 8fr 1fr;
        }

        .pomegues {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        .frioul {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }

        .calanques {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 3;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 8fr 1fr;
        }

        .dameDeLaGarde {
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        .longchamp {
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 3;
        }
    }

}