// =========== HEADER ==========
.signUp {
    font-weight: bold;
    color: $reservia_blue;
}
// ============================

.filters {

    ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;

        li {
            margin: 0.6rem 0.6rem 0 0;
        }

    }

}

.infoAvailableAccommodationCity {
    display: flex;
    align-items: center;

    i {
        padding: 0.4rem;
        border: 1px solid $reservia_grey;
        border-radius: 50%;
        margin: 0 0.8rem 1rem 0;
        color: $reservia_blue;
        height: max-content;
        font-size: 0.8rem;
    }

}

//============= Résultat hébergement Marseille ================
//=============================================================

.accommodationResults {
    //display: grid;


    .mostPopular {
        background-color: $reservia_light-grey;
        padding-bottom: 1rem;

        .container div:nth-child(1) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

    }

    .accommodationCity {
        p:last-child {
            font-weight: bold;
        }
    }
}

@media (min-width: 1200px) {
    .accommodationResults {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 50px;
    }

    .accommodationCity {
        grid-row: 1;
    }

}