footer {
    background-color: $reservia_light-grey;
    padding-bottom: 1rem;
    padding-top: 1rem;

    .container {
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
    }

}

