header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    img {
        padding-left: 15px;
    }

    .signUp {
        padding-right: 15px;
    }

    > div {
        margin-right: auto;
    }

    nav {
        order: 3;
        width: 100%;
    }

    ul {
        display: flex;
        padding: 0;

        li {
            padding-bottom: 1rem;
            width: 50%;
            border-bottom: 3px solid $reservia_light-grey;
            text-align: center;

            &:hover {
                border-bottom: 3px solid $reservia_blue;
            }

            a {
                color: black;

                &:hover {
                    color: $reservia_blue;
                }
            }

        }

    }
}

@media (min-width: 768px) {
    header {
        nav {
            order: initial;
            width: auto;
        }

        .signUp {
            padding-top: 1rem;
        }


        ul {
            li {
                padding: 1rem 1.5rem 0 0;
                width: auto;
                border-bottom: none;
                text-align: center;
                &:hover {
                    border-top: 3px solid $reservia_blue;
                    border-bottom: none;
                }
            }
        }
    }
}
