header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    img {
        padding-left: 15px;
    }

    .signUp {
        padding-right: 15px;
    }

    > div {
        margin-right: auto;
    }

    nav {
        order: 3;
        width: 100%;
    }

    ul {
        display: flex;
        padding: 0;

        li {
            padding-bottom: 1rem;
            width: 50%;
            border-bottom: 3px solid $reservia_light-grey;
            text-align: center;

            &:hover {
                border-bottom: 3px solid $reservia_blue;
            }

            a {
                color: black;

                &:hover {
                    color: $reservia_blue;
                }
            }

        }

    }
}